.navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f8a94f;
    }

    .navbar ul li {
      float: left;
    }
    

    .navbar ul li a {
      display: block;
      color: #000000;
      text-align: center;
      padding: 30px 30px;
      text-decoration: none;
    }

    .navbar ul li a:hover {
      background-color: #ffffff;
    }

body {
    background-color: rgb(236, 236, 236);
}

.titulo h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container h2{
        text-align: center;
}
.grid {
    display: flex;
    justify-content: space-around
}

.grid2 {
    display: flex;
    justify-content: space-around
}

.sobre {

}

footer {
    background-color: #555151;
}

.container3 h2 {
    color: aliceblue;
}

.container3 p {
    color: aliceblue;
}

.img {
    height: 200px;
    width: 300px;
}